.cart{
    padding-left: 1rem;
}
.cart-list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.4rem;
}
.cart-list{
    display:  flex;
    align-items: center;
}
.cart-btn{
    background-color: rgb(37, 61, 104);
    border: none;
    border-radius: 10px;
    padding:0.7rem 0.6rem;
    margin: 0.5rem 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.hidden-item {
    display: none;
}
.visible-item img{
    width: 180px;
    height: 200px;
}
